
@{
    ViewBag.Title = "Sigin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="page-header01">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <h2>Sign-in</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sign-in</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="section-padding contact-us-padding form-padding">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-md-12 col-lg-10">
               hhhh
            </div> -->

            <div class="col-md-3">

            </div>
            <div class="col-md-6">


                <div class="main-login main-center">
                    @using (Html.BeginForm("Signin", "User", FormMethod.Post, new { id = "signup" }))
                    {
                        <form action="#" method="post">


                           @if (TempData["ErrMsg"] != "")
                           {
                            <div id="Msgs" class="alert alert-danger">
                                @TempData["ErrMsg"]
                            </div>
                           }
                        @if (TempData["SucMsg"] != "")
                        {
                            <div id="Msgs" class="alert alert-success">
                                @TempData["SucMsg"]
                            </div>
                        }

                            <br>

                            <div class="form-group">

                                <div class="cols-sm-10">
                                    <div class="input-group fieldStyle">
                                        <span class="input-group-addon fieldBorder"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control fieldBorder" name="username" id="email" placeholder="Enter your Email | Phone Number" required />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="cols-sm-10">
                                    <div class="input-group fieldStyle">
                                        <span class="input-group-addon fieldBorder"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control fieldBorder" name="password" id="password" placeholder="Enter your Password" required />
                                    </div>
                                </div>
                            </div>



                            <div class="form-group fieldStyle">
                                <div class="btnFull">
                                    <a href="#"> <button type="submit" name="submit" class="btn btn-default btn-sm4 btnAction btnFull">Login</button></a>

                                </div>

                            </div>

                        </form>
                    }
                    <p>
                        Don't have an account?
                        <a href="@Url.Action("Signup", "User")">Register</a>
                    </p>
                </div>


            </div>
            <div class="col-md-3">

            </div>

        </div>
    </div>
</section>