@{
    ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    //Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}
<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title"></h4>
            <!-- Mega Form Starts -->
            <section class="section-padding contact-us-padding form-padding">
                @*<div class="tables">
                    <h2 class="title1">Dashboard</h2>
                    <div class="table-responsive bs-example widget-shadow">
                    <h4>Top (10) Transactions:</h4>
                    <table class="table table-bordered"> 
                        <thead> 
                        <tr> 
                            <th>#</th> 
                            <th>Table heading</th> 
                            <th>Table heading</th> 
                            <th>Table heading</th> 
                            <th>Table heading</th> 
                            <th>Table heading</th> 
                            <th>Table heading</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                        <tr> 
                      <th scope="row">1</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> <tr> <th scope="row">2</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> <tr> <th scope="row">3</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> </tbody> 
                    </table>
                    </div>
                </div>
                <div class="container">
                </div>*@
            </section>

            <!-- // Mega Form Ends-->
          Referral Link :  http://nysc.cashnownow.net/NYSCLOAN/NYSCLoanAppForm?referralCode=@TempData["referalCode"]
        </div>

    </div>
</div>



