<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-UvlotExt-20190904113354.mdf;Initial Catalog=aspnet-UvlotExt-20190904113354;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UvlotAEntities1" connectionString="metadata=res://*/DataManager.UvlotA.csdl|res://*/DataManager.UvlotA.ssdl|res://*/DataManager.UvlotA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5039.site4now.net;initial catalog=DB_A438AA_UvlotTest;user id=DB_A438AA_UvlotTest_admin;password=su990rtc0de;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UvlotAEntities0" connectionString="metadata=res://*/DataManager.UvlotA.csdl|res://*/DataManager.UvlotA.ssdl|res://*/DataManager.UvlotA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5039.site4now.net;initial catalog=DB_A438AA_UvlotTest;user id=DB_A438AA_UvlotTest_admin;password=su990rtc0de;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UvlotAEntities" connectionString="metadata=res://*/DataManager.UvlotA.csdl|res://*/DataManager.UvlotA.ssdl|res://*/DataManager.UvlotA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Uvlot;persist security info=True;user id=sa;password=su990rt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

 
  </connectionStrings>
  <appSettings>
    
    <add key="NYSCAgentRole" value="7" />
    <add key="NYSCApplicantRole" value="1011" />
    <add key="RemitaFlag" value="1" />
    <add key="ReferralFirstAmount" value="100" />
    <add key="ReferralSecondAmount" value="50" />
    <add key="SuperReferralAmount" value="10" />
    <add key="DiburseSeckey" value="sk_qrzbo4hd8zty4cq2eixpsdkdfyns6kns" />
    <add key="DisburseCllbackUrl" value="http://localhost:4264/GetPaymentResponse" />
    <add key="Narration" value="Loan Payment" />
     <add key="DisburseCash" value="http://cashnownow.net/api/disburse" />
    <add key="DisburseCashLive" value="http://agentsapi.cashnownow.net/api/disburse" />
    <add key="Currency" value="NGN" />
    <add key="ReferralLink" value="http://nysc.cashnownow.net/NYSCLOAN/NYSCLoanAppForm?referralCode=" />
    <add key="PartnerID" value="ccb5ea9fd816bef407e658ccd74c1d1db7b" />
    <add key="PartnerKey" value="dc5b3dfd102242697e14f119cf0300b8ac" />
    <add key="mandateSetupurl" value ="http://remita.uvlot.com/api/v1/PaeLyt/Transact/SetUpDirectDebit"/>
    <add key="mandateSetupurlLive" value ="http://payment.uvlot.com/api/v1/PaeLyt/Transact/SetUpDirectDebit"/>
    <add key="MoneyWave_Api_Key_Live" value="lv_1ZL3SGTHQFL21I2RSIUG" />
    <add key="MoneyWave_Secret_Live" value="lv_CVD9XPELTOATFMK62FBADDXB8VTXJE" />
    <add key="MoneyWave_ApiBase_Live" value="https://live.moneywaveapi.co/v1/merchant/verify" />
    <add key="MoneyWaveResolveAccount" value="https://live.moneywaveapi.co/v1/resolve/account" />
    <add key="APIRouteURL" value="api/v1/PaeLyt" />
    <add key="MandateStatusTest" value="http://localhost:1547/api/v1/PaeLyt/Transact/MandateStatus"/>
    <add key="MandateSetUpTest" value="http://localhost:1547/api/v1/PaeLyt/Transact/MandateSetUp" />
    <add key="OTPvalidationTest" value="http://localhost:1547/api/v1/PaeLyt/Transact/ValidateAuthorization" />
    <add key="DebitInstructionTest" value="http://localhost:1547/api/v1/PaeLyt/Transact/DebitInstruction" />
    <add key="DebitStatusTest" value="http://localhost:1547/api/v1/PaeLyt/Transact/DebitStatus" />
    <add key ="ErrorLogFile" value="~/Error/Logs/ErrorLog.txt"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:appStartup" value="UvlotExtConfig" />
    <add key="SendMailFlag" value="1" />
    <add key="MailServerAddress" value="smtp.zoho.com" />
    <!--<add key="MailFromPassword" value="Welcome_2019!" />
    <add key="MailFrom" value="noreply@payorboro.com" />-->
    <add key="MailFromPassword" value="Welcome_2019!" />
    <add key="MailFrom" value="noreply@uvlot.com" />
    <add key="SMTPServerPort" value="587" />
    <add key="EnableSsl" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>