html, body{
	font-family: 'PT Sans', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background: #fff;
}
.bgimage {
    background-image: url('../images/nature.jpg');
	background-position: center center;
	background-size: cover;
	height:200px;
}

.pad-up{
	margin-top:-10px;
}
.p-width{
	width:auto!important;
}
.under-bar{
	text-decoration: underline;
}
.italo{
	font-style: italic;
}
/*--Table CSS Starts--*/

.rtable {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	border-spacing: 0;
  }
  

  .rtable td:first-child,
  .rtable--flip tbody tr:first-child {
	background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
	background-repeat: no-repeat;
	background-size: 20px 100%;
  }
  
  .rtable td:last-child,
  .rtable--flip tbody tr:last-child {
	background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: 20px 100%;
  }
  
  .rtable th {
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
	background: #f2f0e6;
  }
  
  .rtable th,
  .rtable td {
	padding: 6px 12px;
	border: 1px solid #d9d7ce;
  }
  
  .rtable--flip {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	background: none;
  }
  
  .rtable--flip thead {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
			flex-shrink: 0;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
  }
  
  .rtable--flip tbody {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
  }
  
  .rtable--flip tr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
	-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
			flex-shrink: 0;
  }
  
  .rtable--flip td,
  .rtable--flip th {
	display: block;
  }
  
  .rtable--flip td {
	background-image: none !important;
	border-left: 0;
  }
  
  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
	border-bottom: 0;
  }
  
  /*!
  // CodePen house keeping
  */
  body {
	margin: 0;
	padding: 25px;
	color: #494b4d;
	font-size: 14px;
	line-height: 20px;
  }
  
  h1, h2, h3 {
	margin: 0 0 10px 0;
	color: #1d97bf;
  }
  
  h1 {
	font-size: 25px;
	line-height: 30px;
  }
  
  h2 {
	font-size: 20px;
	line-height: 25px;
  }
  
  h3 {
	font-size: 16px;
	line-height: 20px;
  }
  
  table {
	margin-bottom: 30px;
  }
  
  a {
	color: #ff6680;
  }
  
  code {
	background: #fffbcc;
	font-size: 12px;
  }

  /*--Table CSS Ends--*/